.about {
	scroll-margin-top: 450px;

	&__wrapper {
		width: 100%;
		max-height: 500px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 50px;
	}

	&__info {
		width: 100%;
		columns: 350px 2;
		font-size: var(--p-font-size);
	}
}
