.about {
	&__wrapper {
		height: 100vh;
		max-height: 500px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		gap: 50px;
	}

	&__info {
		width: 100%;
		columns: 350px 2;
		margin-bottom: 50px;
		font-size: var(--p-font-size);
	}
}
