.service-card {
	display: flex;
	gap: 15px;

	&__icon {
		svg {
			font-size: 2rem;
		}
	}
	&__content {
		.content-title {
			color: var(--primary-text-color);
			line-height: 1;
			margin-bottom: 10px;
			font-size: var(--p-font-size);
		}
		.content-info {
			font-size: var(--p-font-size);
		}
	}
}
