* {
	box-sizing: border-box;
}
html,
body {
	font-family: var(--fontQuickSand);
	color: var(--primary-text-color);
	font-size: 16px;
	background-color: var(--primary-color);
}

body {
	position: relative;
}

.app-wrapper {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.section {
	position: relative;
	min-height: 1px;
	width: 100%;
	margin-bottom: 150px;
	.section-title {
		display: inline-block;
		position: relative;
		font-family: var(--fontCodeLatin);
		font-size: var(--title-section-font-size);
		width: max-content;
		color: var(--primary-text-color);
		margin-bottom: 50px;

		&::before,
		&::after {
			position: absolute;
			content: "";
			width: 100%;
			bottom: -10px;
			left: 0;
			height: 2px;
			background-color: var(--secondary-color);
		}
		&::after {
			background-color: var(--quertiary-color);
			width: 60px;
		}
	}

	@media screen and (max-width: 768px) {
		margin-bottom: 150px;

		.section-title {
			margin-bottom: 30px;
		}
	}
}
