* {
	box-sizing: border-box;
}
html,
body {
	font-family: var(--fontQuickSand);
	color: var(--primary-text-color);
	font-size: 16px;
	background-color: var(--primary-color);
	scroll-behavior: smooth;
}

.app-wrapper {
	position: relative;
	width: 100%;
	overflow-x: hidden;
}

.disabled {
	opacity: 0.5;
	&:hover {
		transform: none;
		cursor: not-allowed;
	}
}

.section {
	position: relative;
	min-height: 1px;
	width: 100%;
	margin-bottom: 250px;
	.section-title {
		display: inline-block;
		position: relative;
		font-family: var(--fontCodeLatin);
		font-size: var(--title-section-font-size);
		width: max-content;
		color: var(--primary-text-color);
		margin-bottom: 50px;

		/* background: -webkit-linear-gradient(
			-45deg,
			var(--quertiary-text-color),
			var(--secondary-text-color),
			var(--primary-text-color)
		);
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent; */

		&::before,
		&::after {
			position: absolute;
			content: '';
			width: 100%;
			bottom: -10px;
			left: 0;
			height: 2px;
			background-color: var(--secondary-color);
		}
		&::after {
			background-color: var(--quertiary-color);
			width: 100%;
			background-image: linear-gradient(
				90deg,
				var(--secondary-text-color),
				var(--quertiary-text-color),
				var(--primary-text-color)
			);
		}
	}

	@media screen and (max-width: 768px) {
		margin-bottom: 100px;
		.section-title {
			margin-bottom: 30px;
		}
	}
}
