.menu-toggle {
	position: fixed;
	top: 35px;
	right: 30px;
	z-index: 6;
	display: flex;
	justify-content: center;
	align-items: center;

	.hamburger {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 8px;
		span {
			width: 40px;
			height: 3px;
			background-color: var(--tertiary-color);
			display: block;
			transition: all 0.3s ease;
			border-radius: 2px;
		}
	}

	@media screen and (min-width: 768px) {
		display: none;
	}
}
