:root {
	/* fonts */
	--fontCodeLatin: CodeLatin, sans-serif;
	--fontQuickSand: Quicksand, sans-serif;
	--fontNextDoor: NextDoor, cursive;

	/* colors */
	--primary-color: #000000;
	--secondary-color: #e0fcff;
	--tertiary-color: #2ec1ac;
	--red-color: #af0404;

	--primary-text-color: #e0fcff;
	--secondary-text-color: #2ec1ac;
	--tertiary-text-color: #000000;
}
