.home {
	&__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas: 'content img';
		gap: 50px;
		height: 100%;
		min-height: 900px;

		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr;
			grid-template-areas:
				'content'
				'img';
			gap: 30px;
			min-height: 800px;
		}

		@media screen and (max-width: 280px) {
			display: flex;
			min-height: none;
			height: 100vh;
			max-height: 700px;
		}
	}

	&__img {
		grid-area: img;
		width: 100%;
		height: 100%;
		display: flex;

		@media screen and (max-width: 768px) {
			justify-content: flex-end;
		}

		@media screen and (max-width: 576px) {
			justify-content: center;
		}

		&__box {
			position: relative;
			width: clamp(200px, 40vw, 450px);

			@media screen and (max-width: 768px) {
				width: clamp(200px, 40vw, 300px);
			}

			@media screen and (max-width: 576px) {
				width: clamp(220px, 30vw, 250px);
			}

			img {
				bottom: 0;
				left: 0;
				width: 100%;
				position: absolute;
				object-fit: contain;
				z-index: 1;

				&.img-profile {
					filter: grayscale(1);
				}
			}
		}
		@media screen and (max-width: 280px) {
			display: none;
		}
	}

	&__content {
		grid-area: content;
		display: flex;
		flex-direction: column;
		gap: 30px;
		justify-content: center;
		color: var(--primary-text-color);

		&__welcome {
			line-height: 1.2;
			width: max-content;

			.title {
				font-size: clamp(1.5rem, 6vw, 4rem);
				font-family: var(--fontCodeLatin);
				text-transform: uppercase;

				/* background: -webkit-linear-gradient(
					-45deg,
					var(--quertiary-text-color),
					var(--secondary-text-color),
					var(--primary-text-color)
				);
				-webkit-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent; */

				.guess-name {
					font-family: var(--fontNextDoor);
					font-size: clamp(1.5rem, 4vw, 3rem);
					text-decoration: line-through;
					line-height: 0;
					color: var(--secondary-text-color);
				}
			}
		}

		&__introduction {
			line-height: 1.3;
			color: var(--primary-text-color);
			font-size: var(--p-font-size);
			max-width: 420px;
		}

		&__cv {
			padding: 10px 28px;
			width: max-content;
			background-image: linear-gradient(
				to right,
				var(--tertiary-color),
				var(--quertiary-color)
			);
			border-radius: 5px;
			color: var(--primary-text-color);
			display: flex;
			align-items: center;
			gap: 5px;
			transition: all ease 0.3s;

			&:hover {
				transform: scale(0.9);
			}
		}

		@media screen and (max-width: 768px) {
			gap: 15px;
		}
	}
}
