.nav-container {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 5;

	&.isScrolling {
		backdrop-filter: blur(50px);
	}

	@media screen and (max-width: 768px) {
		// display: none;
		&.isActive {
			backdrop-filter: blur(50px);
			height: 100vh;

			.nav__navigation,
			.nav__cv {
				display: initial;
			}
		}
		.nav {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;

			&__brand {
				align-self: flex-start;
				width: 50px;
				height: 50px;
				font-size: 1.5rem;
			}

			&__navigation {
				display: flex;
				flex-direction: column;
				justify-content: center;
				font-size: 2rem;
				position: fixed;
				top: 0;
				right: 0;
				width: 100%;
				height: 100vh;
				display: none;
			}

			&__cv {
				display: none;
			}
		}
	}
}

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	text-transform: capitalize;
	font-size: 1rem;
	width: 100%;

	&__brand {
		width: 70px;
		height: 70px;
		border-radius: 100%;
		background-color: var(--tertiary-color);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		text-transform: uppercase;
		font-family: var(--fontCodeLatin);
	}

	&__navigation {
		display: flex;
		align-items: center;
		gap: 25px;

		a {
			position: relative;
			display: block;
			text-transform: uppercase;

			&::before {
				position: absolute;
				content: "";
				width: 0;
				left: -5%;
				top: 50%;
				transform: translateY(-50%);
				height: 2px;
				transition: all 0.3s ease;
			}

			&:hover {
				&::before {
					background-color: var(--quertiary-color);
					width: 110%;
				}
			}
		}
	}

	&__cv {
		padding: 10px 28px;
		background-color: var(--quertiary-color);
		border-radius: 10px;
		color: var(--tertiary-text-color);
	}
}
